*.la
*.lo
*.o
.deps
.libs
nbhproject
Makefile.in
aclocal.m4
autom4te.cache
libltdl
libtool
Makefile
config.log
config.status
stamp-h1
sporemodule_config.h.in
unittests/*.log
unittests/*.trs
test-driver
test-suite.log
.docs
